.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    div {
        margin: 10px;
        h2 {
            margin: 0px;
        }
    }
    img {
        max-height: 300px;
    }
}