.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(47, 160, 160);
}