.task-4 {
    h3,
    h4 {
        text-align: center;
        margin: 5px 0px;
    }
    table {
        border: 2px solid grey;
        th,
        td {
            border: 1px solid grey;
            text-align: center;
        }
    }
}